
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
}

.scene {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 40px;
}

.surface {
  background-image: url('https://cdn.discordapp.com/attachments/1333209295348568224/1370772660300283954/InShot_20250510_163934991.jpg?ex=6820b705&is=681f6585&hm=fbe12bb7560e796dff794e28398d0a74e542c0db8689cb9ffd0a9a9dd34a7ecb&'); /* Minecraft земля + Стив */
}

.underground {
  background-image: url('https://cdn.discordapp.com/attachments/1333209295348568224/1370774989497696377/InShot_20250510_164944827.jpg?ex=6820b931&is=681f67b1&hm=13e1b48f344e15be1ec59ce968e8a8d7fda5db22afa2243284988c6cbc46b84f&'); /* Шахта, скелет */
}

.cases {
  background-image: url('https://cdn.discordapp.com/attachments/1333209295348568224/1370776394539466903/1669976332_6-pibig-info-p-ender-mir-fon-instagram-6.jpg?ex=6820ba80&is=681f6900&hm=7c186dc0f83d36c7f1266d98a18695c3f0e73e172a2709621d38a8254e3d0d27&'); /* Minecraft сундуки/кейсы */
}

.connect {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
}

.content {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
}

.play-btn {
  font-size: 20px;
  color: white;
  background-color: #f39c12;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.play-btn:hover {
  background-color: #e67e22;
}

.connect p {
  font-size: 18px;
  line-height: 1.5;
}
